= simple_form_for(:user, url: "/users/#{@user.login}", method: 'PUT') do |f|
  = f.error_notification

  %fieldset
    %p You must enter your current password to make changes.
    .form-group
      = f.label :current_password
      = f.password_field :current_password, class: 'form-control'
  %fieldset
    %p Leave these fields blank if you don't want to change your password.
    .form-group
      = f.label :password
      = f.password_field :password, :autocomplete => 'off', class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'

  .form-actions
    = f.button :submit
