%div.row
  %div.panel.panel-default
    %div.panel-heading.clearfix
      .panel-title.pull-left
        Users
      .pull-right
        %span.badge
          = @users.count
        %a.btn.btn-xs.btn-default.user-create(href="#")
          %i.fa.fa-circle-plus
          New User

    %table
      %thead
        %tr
          %th UID
          %th Login
          %th Name
          %th Enabled
          %th Keys#

      %tbody
        - @users.each do |user|
          %tr{class: user.disabled? ? "danger" : ""}
            %td= user.uid
            %td= link_to user.login, user_path(user.login)
            %td= user.name
            %td= user.enabled?
            %td= user.keys.count
            -#%td= link_to 'Show', user
            -#%td= link_to 'Edit', edit_user_path(user)
            -#%td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

-#= link_to 'New User', new_user_path
