%div.col-xs-12
  %div.panel.panel-default
    %div.panel-heading.clearfix
      .panel-title.pull-left
        User
      .pull-right
        - if current_user.role == :admin || current_user.login == @user.login
          %a.btn.btn-xs.btn-default.user-password(href="#"){data: {login: @user.login}}
            %i.fa.fa-edit
            Change Password
    %table
      %tr
        %th UID
        %td= @user.uid
      %tr
        %th Login
        %td= @user.login
      %tr
        %th Name
        %td= @user.name
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Shell
        %td= @user.shell
      %tr
        %th Enabled?
        %td= @user.enabled?
      %tr
        %th DN
        %td= @user.dn
%div.col-xs-12
  %div.panel.panel-default
    %div.panel-heading.clearfix
      .panel-title.pull-left
        Group Membership
    %table
      - @user.groups.each do |g|
        %tr
          %td
            = link_to g, group_path(g)
%div.col-xs-12
  %div.panel.panel-default
    %div.panel-heading.clearfix
      .panel-title.pull-left
        SSH Keys
    %table
      - @user.keys.each do |key|
        %tr
          %td
            = key.split.last
          %td(style="text-align: right; width: 50px;")
            %i.fa.fa-times-circle

-#= link_to 'Edit', edit_user_path(@user)
-#\|
-#= link_to 'Back', users_path
