- admin = current_user.admin?
- me = current_user.login == @user.login
- disabled = @user.disabled?
%div.row
  %div.col-xs-12
    %div.panel.panel-default
      %div.panel-heading.clearfix
        .panel-title.pull-left
          User
        .pull-right
          - if admin && !me
            - if disabled
              %a.btn.btn-xs.btn-default.user-enable(href="#"){data: {login: @user.login}}
                %i.fa.fa-power-off
                Enable
            - if !disabled
              %a.btn.btn-xs.btn-default.user-disable(href="#"){data: {login: @user.login}}
                %i.fa.fa-power-off
                Disable
          - if admin || me
            %a.btn.btn-xs.btn-default.user-password(href="#"){data: {login: @user.login}}
              %i.fa.fa-lock
              Change Password
      %table
        %tr
          %th UID
          %td= @user.uid
        %tr
          %th Login
          %td= @user.login
        %tr
          %th Name
          %td= @user.name
        %tr
          %th Email
          %td= @user.email
        %tr
          %th Shell
          %td= @user.shell
        %tr
          %th Enabled?
          %td= @user.enabled?
        %tr
          %th DN
          %td= @user.dn
%div.row
  %div.col-xs-12
    %div.panel.panel-default
      %div.panel-heading.clearfix
        .panel-title.pull-left
          Group Membership
        .pull-right
          - if admin
            %a.btn.btn-xs.btn-default.user-group-add{data: {login: @user.login}}
              %i.fa.fa-plus-circle
              Add Group
      %table
        - @user.groups.each do |g|
          %tr
            %td= link_to g, group_path(g)
            - if admin
              %td(style="text-align: right; width: 50px;")
                %a.btn.btn-xs.btn-default.user-group-remove(href="#"){data: {login: @user.login, group: g}}
                  %i.fa.fa-times-circle
%div.row
  %div.col-xs-12
    %div.panel.panel-default
      %div.panel-heading.clearfix
        .panel-title.pull-left
          SSH Keys
        .pull-right
          - if admin || me
            %a.btn.btn-xs.btn-default.user-key-add{data: {login: @user.login}}
              %i.fa.fa-plus-circle
              Add Key
      %table
        - @user.keys.each do |key|
          - k = key.split.last
          %tr
            %td= k
            - if admin || me
              %td(style="text-align: right; width: 50px;")
                %a.btn.btn-xs.btn-default.user-key-remove(href="#"){data: {login: @user.login, key: k}}
                  %i.fa.fa-times-circle

-#= link_to 'Edit', edit_user_path(@user)
-#\|
-#= link_to 'Back', users_path
