%ul.nav.navbar-nav
  %li
    = link_to users_path do
      %i.fa.fa-profile
      Users
  %li
    = link_to groups_path do
      %i.fa.fa-profile
      Groups
%ul.nav.navbar-nav.navbar-right
  %li.link.dropdown
    %a.dropdown-toggle{data: {toggle: 'dropdown'}}
      %i.fa.fa-user
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to user_path(current_user.login), title: 'my profile' do
          %i.fa.fa-cog
          Profile
      %li
        = link_to "#", class: "user-password", title: "change password", data: {login: current_user.login} do
          %i.fa.fa-unlock
          Change Password
      %li
        = link_to destroy_user_session_path, method: 'delete', title: 'logout' do
          %i.fa.fa-sign-out
          Logout
